.input-contain {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    padding: 50px 30px;
}

.input-res {
    color: white;
    width: 100%;
    max-width: 500px;
    background-color: #0e468c;
    border: none;
    padding: 10px 11px 11px 11px;
    border-radius: 20px;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

::placeholder {
    color: white;
    opacity: 1;
}

