.input-contain {
    position: relative;
    max-width: 17rem;
    margin-left: auto;
    margin-right: auto;
    width: 22em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.input-res {
    color: white;
    width: 100%;
    max-width: 500px;
    background-color: #0e468c;
    border: none;
    padding: 11px 36px 11px 36px;
    border-radius: 20px;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

.search_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: normal;
}

::placeholder {
    color: white;
    opacity: 1;
}
